<h1>People#index</h1>
<p>Find me in app/views/people/index.html.erb</p>
Please enter the name of a person:
<%= text_field_tag 'person_name' %>
<input id="search-input" type="text" name="q" value="" autocomplete="off"/>
<script>


$(function() {
          $("#person_name" ).autocomplete({
                  source: "<%= people_autocomplete_person_name_path %>"
                    });
          })


render = function(term, data, type){ return term; }
select = function(term, data, type){ console.log("Selected " + term); }

// Make the input field autosuggest-y.
$('#search-input').soulmate({
url:            'http://localhost:3000/sm/',
types:          ['people'],
renderCallback: render,
selectCallback: select,
minQueryLength: 2,
maxResults:     5
});
</script>


